In [180]:
f = open("biological_network.gml", "r")

In [181]:
id_list = []
name_list = []


source_list= []
target_list =[]
type_list = []


for x in f:
    y = x.split(' ')
    
    
    try:
        if y[2] == 'node':
            id_list.append(y[5])
            name_list.append(y[7])
        elif y[2] == 'edge':
            source_list.append(y[5])
            target_list.append(y[7])
            type_list.append(y[9])
    except:
        print('first or last')

first or last
first or last

In [182]:
f.close()

In [183]:
import pandas as pd

In [184]:
df1 = pd.DataFrame()
df2 = pd.DataFrame()

In [185]:
df1['id'] = id_list
df1['name'] = name_list

In [186]:
df2['source'] = source_list
df2['target'] = target_list
df2['type'] = type_list

In [187]:
df1.head()

  id      name
0  1  "aceBAK"
1  2    "acnA"
2  3   "acrAB"
3  4    "acrR"
4  5     "acs"

In [188]:
df = df1.merge(df2, left_on='id', right_on='source')

In [189]:
df.head()

  id      name source target type
0  1  "aceBAK"      1     24    2
1  1  "aceBAK"      1    148    2
2  1  "aceBAK"      1    190    1
3  1  "aceBAK"      1    203    2
4  2    "acnA"      2    359    1

In [194]:
typeShape_list = []

for x, y in enumerate(df['type']):
    if y == '1':
        typeShape_list.append('circle')
    
    elif y == '2':
        typeShape_list.append('triangle')
    elif y == '3':
        typeShape_list.append('hexagon')

In [195]:
df.head()

  id      name source target type
0  1  "aceBAK"      1     24    2
1  1  "aceBAK"      1    148    2
2  1  "aceBAK"      1    190    1
3  1  "aceBAK"      1    203    2
4  2    "acnA"      2    359    1

In [196]:
df["typeShape"] = typeShape_list
df.head()

  id      name source target type typeShape
0  1  "aceBAK"      1     24    2  triangle
1  1  "aceBAK"      1    148    2  triangle
2  1  "aceBAK"      1    190    1    circle
3  1  "aceBAK"      1    203    2  triangle
4  2    "acnA"      2    359    1    circle

write to gml
===

In [205]:
import sys, time
import pandas as pd
import datetime as dt
from IPython.display import display

In [206]:
FILE_NAME = "biological_formatted.gml"

In [207]:
#Utility functions
def progress(v):
    v = str(v)
    sys.stdout.flush()
    sys.stdout.write('\r')
    sys.stdout.flush()
    sys.stdout.write(v)

In [208]:
f = open(FILE_NAME, "w")
#helpers
s = " "
ss = s+s
sss = s+s+s
ssss = s+s+s+s
nl = "\n"

#loop helpers
added = []
ind = 0

#Root node
f.write("graph"+nl)
f.write("["+nl)



#Write a node
def write_node(r):
    f.write( ss + "node" + nl)
    f.write( ss + "[" + nl)
    f.write( ssss + "id" + s + str(r['source']) + nl)
    f.write( ssss + "label" + s + str(r['name']) + nl)
    f.write( ss + "]"+ nl)


#Write an edge
def write_edge(r):
    f.write( ss + "edge" + nl)
    f.write( ss + "[" + nl)
    f.write( ssss + "source" + s + str(r['source'])  + nl)
    f.write( ssss + "target" + s  + str(r['target'])  + nl)
    f.write( ssss + "graphics" + nl + ssss + "[" + s + "type"  + s + '"' + str(r['typeShape']) + '"'\
            +nl + ssss +\
            ']' 
            + nl)
    f.write( ss + "]"+ nl)


#Generate nodes
for i, r in df.iterrows():
    #increment, as index not reliable
    ind += 1
    #Check for duplicates
    if (r['source'] not in added):
        #Add to list
        added.append(r['source'])
        write_node(r)
    #print the progress    
    progress(ind)

print(nl+"Printing nodes over")

#flush index
ind = 0    
#Generate edges    
for i, r in df.iterrows():
    #increment, as index not reliable
    ind += 1
#     if(r['source'] < r['target']):
    write_edge(r)
    #print the progress            
    progress(ind)

print(nl+"Printing nodes and edges over")

#closing node
f.write("]"+nl)
f.close()

578
Printing nodes over
578
Printing nodes and edges over