In [1]:
import pandas as pd

In [2]:
node = pd.read_csv('K-pop_node.csv')

In [3]:
edge = pd.read_csv('K-pop_edge.csv')

In [4]:
df = node.merge(edge, left_on='id', right_on='source', suffixes= ('_left', '_right'))

df.head()

     id   type         name  source  target
0  4735  label  레인보우브릿지에이전시    4735    1782
1  4735  label  레인보우브릿지에이전시    4735    1393
2  4735  label  레인보우브릿지에이전시    4735    4188
3  4735  label  레인보우브릿지에이전시    4735    4187
4  4733  label        가족액터스    4733    4635

In [22]:
df['type'].unique()

array(['label', 'group', 'person', 'male', 'female'], dtype=object)

In [72]:
genderList = []

for x, y in enumerate(df['type']):
    
    if y == 'label':
        genderList.append('diamond')
    elif y == 'group':
        genderList.append('circle')
    else:
        genderList.append('triangle')

In [73]:
labelFontList = []

for x, y in enumerate(df['name']):
    if y == 'S.M.Entertainment':
        labelFontList.append(250)
    elif y == 'LOEN Entertainment':
        labelFontList.append(250)

    elif y == 'Mnet Media':
        labelFontList.append(250)

    elif y == '유니버설 뮤직 그룹':
        labelFontList.append(250)
    else:
        labelFontList.append(0)

In [74]:
df = df.assign(genderSymbol=genderList)
df = df.assign(labelFont = labelFontList)

In [75]:
df['name'] = df['name'].str.replace('&','and')
df['name'] = df['name'].str.replace('"','')
df['name'] = df['name'].str.replace('\'','')

In [76]:
df.dtypes

id               int64
type            object
name            object
source           int64
target           int64
genderSymbol    object
labelFont        int64
dtype: object

In [77]:
df.head()

     id   type         name  source  target genderSymbol  labelFont
0  4735  label  레인보우브릿지에이전시    4735    1782      diamond          0
1  4735  label  레인보우브릿지에이전시    4735    1393      diamond          0
2  4735  label  레인보우브릿지에이전시    4735    4188      diamond          0
3  4735  label  레인보우브릿지에이전시    4735    4187      diamond          0
4  4733  label        가족액터스    4733    4635      diamond          0

In [78]:
# final['source'] = final['source'].astype(str)

In [79]:
import sys

In [80]:
FILE_NAME = "kpop.gml"

In [81]:
#Utility functions
def progress(v):
    v = str(v)
    sys.stdout.flush()
    sys.stdout.write('\r')
    sys.stdout.flush()
    sys.stdout.write(v)

In [82]:
f = open(FILE_NAME, "w")
#helpers
s = " "
ss = s+s
sss = s+s+s
ssss = s+s+s+s
nl = "\n"

#loop helpers
added = []
ind = 0

#Root node
f.write("graph"+nl)
f.write("["+nl)



#Write a node
def write_node(r):
    f.write( ss + "node" + nl)
    f.write( ss + "[" + nl)
    f.write( ssss + "id" + s +  str(r['id']) + nl)
    f.write( ssss + "label" + s + '"' + str(r['name']) + '"' + nl)
    f.write( ssss + "graphics" + nl + ssss + "[" + s + "type"  + s + '"' + str(r['genderSymbol']) + '"'\
            +nl + ssss +\
            ']' 
            + nl)
    f.write( ssss + "LabelGraphics" + nl + ssss + "[" + s + "fontSize" + s  + str(r['labelFont'])\
            + nl  + ssss  + ']'\
            + nl)
    f.write( ss + "]"+ nl)
    
#.fontSize	


#Write an edge
def write_edge(r):
    f.write( ss + "edge" + nl)
    f.write( ss + "[" + nl)
    f.write( ssss + "source" + s + str(r['source'])  + nl)
    f.write( ssss + "target" + s  + str(r['target'])  + nl)
    f.write( ss + "]"+ nl)


#Generate nodes
for i, r in df.iterrows():
    #increment, as index not reliable
    ind += 1
    #Check for duplicates
    if (r['source'] not in added):
        #Add to list
        added.append(r['source'])
        write_node(r)
    #print the progress    
    progress(ind)

print(nl+"Printing nodes over")

#flush index
ind = 0
#Generate edges    
for i, r in df.iterrows():
    #increment, as index not reliable
    ind += 1
#     if(r['source'] < r['target']):
    write_edge(r)
    #print the progress            
    progress(ind)

print(nl+"Printing nodes and edges over")

#closing node
f.write("]"+nl)
f.close()

1500

IOPub message rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_msg_rate_limit`.

Current values:
NotebookApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
NotebookApp.rate_limit_window=3.0 (secs)

IOPub message rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_msg_rate_limit`.

Current values:
NotebookApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
NotebookApp.rate_limit_window=3.0 (secs)

5094
Printing nodes over
588

IOPub message rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_msg_rate_limit`.

Current values:
NotebookApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
NotebookApp.rate_limit_window=3.0 (secs)

IOPub message rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_msg_rate_limit`.

Current values:
NotebookApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
NotebookApp.rate_limit_window=3.0 (secs)

5094
Printing nodes and edges over

In [83]:
# replace &